export DOT_ZSH="$HOME/.dotfiles/zsh"
export ZSH="$DOT_ZSH/ohmyzsh"
ZSH_CUSTOM="$DOT_ZSH/custom"
export DOTFILES="$HOME/.dotfiles"
export EDITOR="vim"

ZSH_THEME="robbyrussell"

DISABLE_AUTO_UPDATE="true"
DISABLE_UPDATE_PROMPT="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

{{ if eq .chezmoi.os "darwin" }}
plugins=(macos git git-trim zsh-autosuggestions zsh-syntax-highlighting fzf-tab zsh-navigation-tools urltools systemadmin extract golang fancy-ctrl-z encode64 vi-mode artisan)
export PATH=/opt/homebrew/bin:$DOTFILES/bin:$PATH
{{ else if eq .chezmoi.os "linux" }}
plugins=(git git-trim zsh-autosuggestions zsh-syntax-highlighting fzf-tab zsh-navigation-tools urltools systemadmin extract golang fancy-ctrl-z encode64 vi-mode artisan)
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
export PATH=$HOME/bin:/usr/local/bin:$DOTFILES/bin:$PATH
{{ end }}

source $ZSH/oh-my-zsh.sh

# Variables
source $DOT_ZSH/aliases.zsh
source $DOT_ZSH/functions.zsh
source $HOME/.zprofile

eval "$(zoxide init zsh)"
