{{- /* Prompt on first init, but don't re-prompt on subsequent init if the data is there. */ -}}
{{- /* https://www.chezmoi.io/docs/how-to/#re-create-your-config-file */ -}}

{{- /* Support non-interactive installation for Codespaces. */ -}}
{{- /* https://www.chezmoi.io/docs/how-to/#use-chezmoi-with-github-codespaces-visual-studio-codespaces-or-visual-studio-code-remote---containers */ -}}
{{- $codespaces := env "REMOTE_CONTAINERS" | not | not -}}

{{- $email        := "37775846+PatentLobster@users.noreply.github.com" -}}
{{- $storeSecrets := false -}}
{{- $installApps  := true -}}
{{- $installCasks := false -}}
{{- if not $codespaces -}}
  {{- $email        = promptStringOnce . "email" "Email for .gitconfig" -}}
  {{- $storeSecrets = promptBoolOnce . "storeSecrets" "Store secrets on this machine" -}}
  {{- $installApps  = promptBoolOnce . "installApps" "Install applications" -}}
  {{- $installCasks = promptBoolOnce . "installCasks" "Install casks" -}}
{{- end -}}



sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "age"
{{if $storeSecrets }}
[age]
  identity = {{ joinPath .chezmoi.homeDir ".ssh/id_ed25519" | quote }}
  symmetric = true
{{end}}

[data]
  email = {{ $email | quote }}
  storeSecrets = {{ $storeSecrets }}
  installApps = {{ $installApps }}
  installCasks = {{ $installCasks }}