#!/bin/sh

info () {
  printf "\r  [ \033[00;34m..\033[0m ] $1\n"
}

user () {
  printf "\r  [ \033[0;33m??\033[0m ] $1\n"
}

success () {
  printf "\r\033[2K  [ \033[00;32mOK\033[0m ] $1\n"
}

fail () {
  printf "\r\033[2K  [\033[0;31mFAIL\033[0m] $1\n"
  echo ''
  exit
}

lobster () {
	if command -v lolcat &> /dev/null; then
		lobster_printer="lolcat"
	else
		lobster_printer="cat"
	fi
	eval $lobster_printer $(chezmoi source-path)/dot_dotfiles/scripts/lobster

}

get_latest_release() {
  curl --silent "https://api.github.com/repos/$1/releases/latest" | # Get latest release from GitHub api
    grep '"tag_name":' |                                            # Get tag line
    sed -E 's/.*"([^"]+)".*/\1/'                                    # Pluck JSON value
}


lobster

{{ if eq .chezmoi.os "darwin" }}
# macOS-specific code

if test ! $(which brew)
then
  info "Installing Homebrew for you."
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

set +e
info "Installing brew packages"
brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/bundle"

brew "tmux"
brew "go"
brew "pv"
brew "bat"
brew "jq"
brew "fd"
brew "fzf"
brew "thefuck"
brew "btop"
brew "node"
brew "yarn"
brew "tldr"
brew "zsh-syntax-highlighting"
brew "grep"
brew "svn"
brew "lolcat"
brew "awscli"
brew "coreutils"
brew "ffmpeg"
brew "gnupg"
brew "git"
brew "wget"
brew "zoxide"
brew "lsd"
brew "fselect"

cask "spectacle"
cask "alfred"

cask "vlc"

cask "github"
cask "transmit"
cask "sublime-text"
cask "gpg-suite"

cask "sequel-ace"
cask "beekeeper-studio"
cask "tableplus"

cask "font-lato"
cask "font-open-sans"
cask "font-roboto"
cask "font-source-code-pro-for-powerline"
cask "font-source-code-pro"
cask "font-source-sans-pro"
cask "font-source-serif-pro"
cask "font-hack-nerd-font"
EOF
set -e

info "installing vim plugins"
vim +PlugInstall +qall > /dev/null

{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
# Debian-specific code

info "installing deps"
sudo apt update
sudo apt install -y wget curl tmux zsh zoxide python3-dev python3-pip python3-setuptools


if test ! $(which brew)
then
    info "installing brew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

info "installing brew packages"
brew install thefuck lolcat

{{      if eq .chezmoi.arch "amd64" }}
wget https://github.com/Peltoche/lsd/releases/download/$(get_latest_release "Peltoche/lsd")/lsd-musl_$(get_latest_release "Peltoche/lsd")_amd64.deb -O /tmp/lsd.deb
{{      else }}
wget https://github.com/Peltoche/lsd/releases/download/$(get_latest_release "Peltoche/lsd")/lsd-musl_$(get_latest_release "Peltoche/lsd")_arm64.deb -O /tmp/lsd.deb
{{      end }}

sudo dpkg -i /tmp/lsd.deb

info "Installing vim plugins"
vim +PlugInstall +qall > /dev/null



{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code
info "Installing deps"
sudo yum -y groupinstall 'Development Tools'
sudo dnf -y install zsh zoxide lsd tmux

if test ! $(which brew)
then
    info "Installing brew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

fi
info "Installing brew packages"
brew install thefuck lolcat

info "Installing vim plugins"
vim +PlugInstall +qall > /dev/null


{{   end }}
{{ end }}

info "Setting zsh as default shell"
chsh $(whoami) -s $(which zsh)
success "Installation complete"

lobster