alias zshconfig="chezmoi edit ~/.zshrc && source ~/.zshrc"
alias zprofile="e ~/.zprofile && source ~/.zprofile"
alias zprof="zprofile"
alias zconfig="zshconfig"
alias zshconf="zshconfig"
alias zconf="zshconfig"
alias vimconfig="e ~/.config/nvim/"
alias vimconf="vimconfig"
alias vconfig="vimconfig"
alias vconf="vimconfig"
alias vsync="cp -r $HOME/.config/nvim $HOME/.local/share/chezmoi/home/dot_config/"


alias y="yank"
alias tinker="vim -c 'set syntax=php'"

# reload zsh config
alias reload!='RELOAD=1 source ~/.zshrc'

# Helpers
alias grep='grep --color=auto'
alias df='df -h' # disk free, in Gigabytes, not bytes
alias du='du -h -c' # calculate disk usage for a folder


# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"
# remove broken symlinks
alias clsym="find -L . -name . -o -type d -prune -o -type l -exec rm {} +"

alias lpath='echo $PATH | tr ":" "\n"' # list the PATH separated by new lines

eval $(thefuck --alias)
alias clr="clear"


{{ if (eq .chezmoi.os "darwin") }}
alias cd="z"
# Git
alias gcb='git copy-branch-name'

alias bi="brew install"

alias chez="chezmoi"

alias ma="tldr"
alias ls="lsd"
alias la="lsd -La"
alias ll="lsd -h -la"
alias fsql="fselect"
alias mka=". make-alias"
alias gitzip="gitar"
alias git-tar="gitar"
alias vim="nvim"

alias k="kubectl"
alias kns="kubens"
alias kctx="kubectx"
alias kcx="kubectx"
alias t="terraform"

alias lmd="tree . -maxdepth 2 | pbcopy && pbpaste | cat "

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

{{ end }}
