#!/bin/zsh

# yank
function yank () {
if [ "$*" != "" ]
	then
		$* | pbcopy
		pbpaste | cat
else
        	echo "Nothing to yank bro."
fi
}


function gitar() {
local tarname=""

if [ "$1" != "" ]; then
		tarname="$1.tar.gz"
else
		tarname="$(basename $(pwd)).tar.gz"
fi

git ls-files -z | xargs -0 tar -czf $tarname
echo "created $tarname succesfully"

}