{{ if eq .chezmoi.os "darwin" }}
#!/bin/sh
# macOS-specific code

brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/cask-versions'
tap 'homebrew/bundle'

# 🍺
brew 'tmux'
brew 'go'
brew 'pv'
brew 'bat'
brew 'jq'
brew 'fd'
brew 'fzf'
brew 'thefuck'
brew 'btop'
brew 'node'
brew 'yarn'
brew 'tldr'
brew 'zsh-syntax-highlighting'
brew 'grep'
brew 'svn'
brew 'lolcat'
brew 'awscli'
brew 'coreutils' # Those that come with macOS are outdated
brew 'ffmpeg'
brew 'gnupg'
brew 'git'
brew 'wget'
brew 'zoxide'
brew 'lsd'
brew 'fselect'

# Desktop env
cask 'spectacle'
cask 'alfred'

cask 'vlc'

# Dev tools
cask 'github'
cask 'transmit'
cask 'sublime-text'
cask 'gpg-suite'

# Database gui
cask 'sequel-ace'
cask 'beekeeper-studio'
cask 'tableplus'


# Fonts
cask 'font-lato'
cask 'font-open-sans'
cask 'font-roboto'
cask 'font-source-code-pro-for-powerline'
cask 'font-source-code-pro'
cask 'font-source-sans-pro'
cask 'font-source-serif-pro'
cask 'font-hack-nerd-font'
EOF

{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
#!/bin/sh
# Debian-specific code

sudo apt install wget curl tmux zsh zoxide

get_latest_release() {
  curl --silent "https://api.github.com/repos/$1/releases/latest" | # Get latest release from GitHub api
    grep '"tag_name":' |                                            # Get tag line
    sed -E 's/.*"([^"]+)".*/\1/'                                    # Pluck JSON value
}

{{ if eq .chezmoi.arch "amd64" }}
wget https://github.com/Peltoche/lsd/releases/download/$(get_latest_release "Peltoche/lsd")/lsd-musl_$(get_latest_release "Peltoche/lsd")_amd64.deb -O /tmp/lsd.deb
{{ else }}
wget https://github.com/Peltoche/lsd/releases/download/$(get_latest_release "Peltoche/lsd")/lsd-musl_$(get_latest_release "Peltoche/lsd")_arm64.deb -O /tmp/lsd.deb
{{ end }}

sudo dpkg -i /tmp/lsd.deb




{{   else if eq .chezmoi.osRelease.id "fedora" }}
#!/bin/sh
# Fedora-specific code
dnf install zsh zoxide lsd

{{   end }}
{{ end }}
