#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}



source {{ joinPath .chezmoi.sourceDir "/dot_dotfiles/scripts/common.sh" | quote }}
install_brew() {
    if test ! $(which brew); then
        info "Installing brew 🍺"
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        {{ if ne .chezmoi.os "darwin" }}
            eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        {{ end }}
    fi

    if [ $(which brew) ]; then
      if [ ! $(which gum) ]; then
          info "Installing gum 🔮"
          brew install gum
      fi
      {{ if eq .chezmoi.os "linux" }}
        {{ if eq .chezmoi.osRelease.id "amzn" }}
          {{      if eq .chezmoi.arch "amd64" }}
            wget "https://github.com/charmbracelet/gum/releases/download/$(get_latest_release "charmbracelet/gum")/gum_$(get_latest_release "charmbracelet/gum" | sed "s/v//g")_linux_amd64.rpm" -O /tmp/gum.rpm
          {{      else }}
            wget "https://github.com/charmbracelet/gum/releases/download/$(get_latest_release "charmbracelet/gum")/gum_$(get_latest_release "charmbracelet/gum" | sed "s/v//g")_linux_arm64.rpm" -O /tmp/gum.rpm
          {{      end }}
          rpm -i /tmp/gum.rpm
        {{ end }}
      {{ end }}
    fi
}

# macOS-specific code
lobster
install_brew


info "Updating hot corners."
# Hot corners
# Possible values:
#  0: no-op
#  2: Mission Control
#  3: Show application windows
#  4: Desktop
#  5: Start screen saver
#  6: Disable screen saver
#  7: Dashboard
# 10: Put display to sleep
# 11: Launchpad
# 12: Notification Center
# 13: Lock Screen
# Top left screen corner → Mission Control
defaults write com.apple.dock wvous-tl-corner -int 5
defaults write com.apple.dock wvous-tl-modifier -int 0
# Top right screen corner → Desktop
defaults write com.apple.dock wvous-tr-corner -int 0
defaults write com.apple.dock wvous-tr-modifier -int 0
# Bottom right screen corner → Start screen saver
defaults write com.apple.dock wvous-br-corner -int 11
defaults write com.apple.dock wvous-br-modifier -int 0
# Bottom left screen corner → Start screen saver
defaults write com.apple.dock wvous-bl-corner -int 0
defaults write com.apple.dock wvous-bl-modifier -int 0

info "Disabling input source language indicator..."
defaults write kCFPreferencesAnyApplication TSMLanguageIndicatorEnabled 0

{{ $codespaces := env "REMOTE_CONTAINERS" | not | not }}
{{ if not $codespaces }}
  set +e
{{ end }}
info "Installing brew packages 📦"

{{ if (.installApps) }}
    brew bundle --file={{ joinPath .chezmoi.sourceDir "/dot_dotfiles/brew/minimal.Brewfile" | quote }}
{{ end }}
{{ if (.installCasks) }}
    brew bundle --file={{ joinPath .chezmoi.sourceDir "/dot_dotfiles/brew/casks.Brewfile" | quote }}
{{ end }}

###############################################################################
# Kill affected applications                                                  #
###############################################################################

info "Restarting OS X GUI"
for app in "Activity Monitor" \
	"Address Book" \
	"Calendar" \
	"cfprefsd" \
	"Contacts" \
	"Dock" \
	"Finder" \
	"Google Chrome Canary" \
	"Google Chrome" \
	"Mail" \
	"Messages" \
	"Opera" \
	"Photos" \
	"Safari" \
	"SizeUp" \
	"Spectacle" \
	"SystemUIServer" \
	"Terminal" \
	"Transmission" \
	"Tweetbot" \
	"Twitter" \
	"iCal"; do
	killall "${app}" &> /dev/null
done

{{ end }}
