#!/bin/bash


source {{ joinPath .chezmoi.sourceDir "/dot_dotfiles/scripts/common.sh" | quote }}

if [ ! -e "$HOME/.config/nvim/custom/init.lua" ]; then
 echo "vim.wo.relativenumber = true" > "$HOME/.config/nvim/custom/init.lua"
fi

info "Installing vim plugins 👾"
vim -E -s "+PlugInstall --sync" +visual +qall > /dev/null

{{ if (.storeSecrets) }}
if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
	if [ $(gum confirm "No '~/.ssh/id_ ed25519' found, would you like to create one?" --affirmative="Heck yeah\!" --negative="Hell no\!" --default=0) ]; then
		ssh-keygen -C $(gum input --placeholder="Enter email recipt for the key") -f "$HOME/.ssh/id_ed25519"
	fi
fi
{{ end }}
if [ ! -f "$HOME/.zprofile" ]; then
    touch "$HOME/.zprofile"
fi

if [ ! -f "$HOME/.vprofile" ]; then
touch "$HOME/.vprofile"
fi


info "Setting zsh as default shell"
set +e
{{ if eq .chezmoi.os "darwin" }}
chsh -s $(which zsh) $(whoami)
{{ else }}
sudo chsh $(whoami) -s $(which zsh)
{{ end }}



success "Installation complete 🎉"
lobster