#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}



source {{ joinPath .chezmoi.sourceDir "/dot_dotfiles/scripts/common.sh" | quote }}
install_brew() {
    if test ! $(which brew); then
        info "Installing brew 🍺"
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        {{ if ne .chezmoi.os "darwin" }}
            eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        {{ end }}
    fi

    if [ $(which brew) ]; then
      if [ ! $(which gum) ]; then
          info "Installing gum 🔮"
          brew install gum
      fi
      {{ if eq .chezmoi.os "linux" }}
        {{ if eq .chezmoi.osRelease.id "amzn" }}
          {{      if eq .chezmoi.arch "amd64" }}
            wget "https://github.com/charmbracelet/gum/releases/download/$(get_latest_release "charmbracelet/gum")/gum_$(get_latest_release "charmbracelet/gum" | sed "s/v//g")_linux_amd64.rpm" -O /tmp/gum.rpm
          {{      else }}
            wget "https://github.com/charmbracelet/gum/releases/download/$(get_latest_release "charmbracelet/gum")/gum_$(get_latest_release "charmbracelet/gum" | sed "s/v//g")_linux_arm64.rpm" -O /tmp/gum.rpm
          {{      end }}
          rpm -i /tmp/gum.rpm
        {{ end }}
      {{ end }}
    fi
}

# macOS-specific code

lobster
install_brew


set +e
info "Installing brew packages 📦"

{{ if (.installApps) }}
    brew bundle --no-lock --file=$(chez source-path)/dot_dotfiles/brew/minimal.Brewfile
{{ end }}
{{ if (.installCasks) }}
    brew bundle --no-lock --file=$(chez source-path)/dot_dotfiles/brew/casks.Brewfile
{{ end }}

{{ end }}