#!/bin/bash


info () {
  printf "\r  [ \033[00;34m..\033[0m ] $1\n"
}

user () {
  printf "\r  [ \033[0;33m??\033[0m ] $1\n"
}

success () {
  printf "\r\033[2K  [ \033[00;32mOK\033[0m ] $1\n"
}

fail () {
  printf "\r\033[2K  [\033[0;31mFAIL\033[0m] $1\n"
  echo ''
  exit
}

chez () {
if command -v chezmoi &> /dev/null; then
	chezmoi $@
else
	$HOME/bin/chezmoi $@
fi
}


lobster () {
	if command -v lolcat &> /dev/null; then
		lobster_printer="lolcat"
	else
		lobster_printer="cat"
	fi
	eval $lobster_printer $(chez source-path)/dot_dotfiles/scripts/lobster
    printf "\n"
}


info "Installing vim plugins 👾"
vim +PlugInstall +qall > /dev/null


if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
	if [ $(gum confirm "No '~/.ssh/id_ ed25519' found, would you like to create one?" --affirmative="Heck yeah\!" --negative="Hell no\!" --default=0) ]; then
		ssh-keygen -C $(gum input --placeholder="Enter email recipt for the key") -f "$HOME/.ssh/id_ed25519"
	fi
fi


info "Setting zsh as default shell"
set +e
{{ if eq .chezmoi.os "darwin" }}
chsh -s $(which zsh)
{{ else }}
chsh $(whoami) -s $(which zsh)
{{ end }}



success "Installation complete 🎉"
lobster